@page "/game"
@using Sudoku.Web.Server.Components

<div class="container text-center float-start">
    <div class="row">
        <div class="col float-start">
            <table id="grid" border="1">
                @for (var row = 0; row < 9; row++)
                {
                    <tr class="gridRow">
                        @for (var col = 0; col < 9; col++)
                        {
                            <CellInput Column="col" Row="row" Value="Puzzle.GetCell(row, col).Value" />
                        }
                    </tr>
                }
            </table>

            <div class="btn-group-vertical main-button-group" role="group">
                <button type="button" class="btn btn-outline-primary" @onclick="New">
                    <i class="fa-solid fa-play"></i> New Game
                </button>
            </div>
        </div>
    </div>
</div>