@page "/game"
@using Sudoku.Web.Server.Components

<div class="container text-center float-start">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-primary" @onclick="New">
            <i class="fa-solid fa-play"></i> New Game
        </button>
    </div>
    <div class="row">
        <div class="col float-start">
            <table id="grid" border="1">
                @for (var row = 0; row < 9; row++)
                {
                    <tr class="gridRow">
                        @for (var col = 0; col < 9; col++)
                        {
                            <CellInput Cell="@Puzzle.GetCell(row, col)" />
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</div>