@page "/game"
@using Sudoku.Web.Server.Components

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell">
            <div class="btn-group" role="group" aria-label="Game level difficulty">
                <input type="radio" class="btn-check" name="btnLevel" id="btnLevelEasy" autocomplete="off" @onchange="() => NewGame(Level.Easy)" checked>
                <label class="btn @(Level == Level.Easy) ? btn-primary : btn-outline-primary" for="btnLevelEasy">Easy</label>
                <input type="radio" class="btn-check" name="btnLevel" id="btnLevelMedium" autocomplete="off" @onchange="() => NewGame(Level.Medium)">
                <label class="btn @(Level == Level.Medium) ? btn-primary : btn-outline-primary" for="btnLevelMedium">Medium</label>
                <input type="radio" class="btn-check" name="btnLevel" id="btnLevelHard" autocomplete="off" @onchange="() => NewGame(Level.Hard)">
                <label class="btn @(Level == Level.Hard) ? btn-primary : btn-outline-primary" for="btnLevelHard">Hard</label>
            </div>
        </div>
        <div class="mat-layout-grid-cell">
            <table id="grid" border="1">
                @for (var row = 0; row < 9; row++)
                {
                    <tr class="gridRow">
                        @for (var col = 0; col < 9; col++)
                        {
                            var cell = Puzzle.GetCell(row, col);
                            <CellInput @key="cell" Cell="cell" OnCellFocus="HandleCellFocus" />
                        }
                    </tr>
                }
            </table>
        </div>
        <div class="mat-layout-grid-cell">
            <div class="btn-toolbar" role="toobar">
                <div class="btn-group" role="group">
                    @for (var i = 1; i <= 9; i++)
                    {
                        var i1 = i;
                        <button type="button" class="btn btn-primary" @onclick="() => SetSelectedCell(i1)">
                            <i class="fa-solid fa-@i"></i>
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>