@page "/game/{puzzleId}"
@using Sudoku.Web.Server.Components

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="game-view">
            <GameTimer @ref="_gameTimer"/>
            <VictoryDisplay
                IsVictory="@Puzzle.IsSolved()"
                ElapsedTime="@_gameTimer.ElapsedGameTime"/>
            <GameBoard
                Puzzle="Puzzle"
                OnCellFocus="SetSelectedCell" />
            <ButtonGroup
                NumberClicked="SetCellValue"
                PuzzleId="@PuzzleId" />
        </div>
    </div>
</div>