@page "/game/"
@using Sudoku.Web.Server.Components

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <GameTimer @ref="_gameTimer" />
        <VictoryDisplay 
            IsVictory="@Puzzle.IsSolved()"
            ElapsedTime="@_gameTimer.ElapsedGameTime" />
        <GameBoard 
            Puzzle="Puzzle" 
            OnCellFocus="SetSelectedCell" />
        <ButtonGroup 
            NumberClicked="SetCellValue" />
    </div>
</div>