@page "/game/{puzzleId}"

@using Sudoku.Web.Server.Components

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="game-view">
            <VictoryDisplay
                IsVictory="@Puzzle.IsSolved()"
                ElapsedTime="@_currentGameState!.PlayDuration"/>
            <GameStats InvalidMoves="@_currentGameState!.InvalidMoves"
                       TotalMoves="@_currentGameState!.TotalMoves"
                       GetPlayDuration="@(() => _currentGameState!.GetTotalPlayDuration())"/>
            <GameBoard
                Puzzle="Puzzle"
                OnCellFocus="HandleSetSelectedCell"
                OnCellChanged="HandleCellChanged"
                NotificationService="CellFocusedNotificationService"/>
            <ButtonGroup
                OnNumberClicked="HandleCellValueChanged"
                PuzzleId="@PuzzleId"
                OnUndo="HandleUndo"
                TotalMoves="_currentGameState!.TotalMoves" />
        </div>
    </div>
</div>