@page "/game"
@using Sudoku.Web.Server.Components

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <DifficultyLevelOptions OnDifficultyLevelChanged="NewGame" />
        <div class="mat-layout-grid-cell">
            <table id="grid" border="1">
                @for (var row = 0; row < 9; row++)
                {
                    <tr class="gridRow">
                        @for (var col = 0; col < 9; col++)
                        {
                            var cell = Puzzle.GetCell(row, col);
                            <CellInput @key="cell" Cell="cell" OnCellFocus="HandleCellFocus" />
                        }
                    </tr>
                }
            </table>
        </div>
        <div class="mat-layout-grid-cell">
            <div class="btn-toolbar" role="toobar">
                <div class="btn-group" role="group">
                    @for (var i = 1; i <= 9; i++)
                    {
                        var i1 = i;
                        <button type="button" class="btn btn-primary" @onclick="() => SetSelectedCell(i1)">
                            <i class="fa-solid fa-@i"></i>
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>