@page "/"
@using Sudoku.Web.Server.Components

<PageTitle>Home</PageTitle>

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <SudokuImage />
        <NavLink class="nav-link" href="/game" Match="NavLinkMatch.All">
            <i class="fa-solid fa-play"></i>&nbsp;New Game
        </NavLink>
    </div>
</div>
