.landing-page {
    text-align: center;
    padding: 2rem;
}

ul {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

ul.menu {
    margin: 2rem auto;
    max-width: 330px;
}

    .menu li {
        margin: .25rem 2.5rem;
    }

.menu button {
    background-color: transparent;
    border: none;
    color: #0070f3;
    font-size: 1.2rem;
}

    .menu button:hover {
        color: #0366d6;
    }

    .menu button:disabled {
        color: #ccc;
    }
