@page "/"

<PageTitle>Home</PageTitle>

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="game-image-container">
            <img alt="Sudoku" src="/images/sudoku_image.jpg"/>
        </div>
    </div>
</div>
