@page "/"

<PageTitle>Home</PageTitle>

<div class="container text-center float-start">
    <div class="row">
        <div class="col float-start">
            <div class="game-image-container">
                <img alt="Sudoku" src="/images/sudoku_image.jpg"/>
            </div>

            <div class="col">
                <div class="btn-group-vertical main-button-group" role="group">
                    <button type="button" class="btn btn-outline-primary" @onclick="LoadNewGame">
                        <i class="fa-solid fa-play"></i> New Game
                    </button>
                    <button type="button" class="btn btn-outline-primary">
                        <i class="fa-solid fa-upload"></i> Load Game
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
