@page "/new/{difficulty}"
@using Sudoku.Web.Server.Components

<NewGameErrorBoundary>
    <div class="loading-container">
        <h2>Generating @Difficulty level puzzle...</h2>
        <div class="sudoku-loader">
            @foreach (var digit in Digits)
            {
                <span>@digit</span>
            }
        </div>
    </div>
</NewGameErrorBoundary>