<td class="cell">
    @if (Cell.IsFixed)
    {
        <label @ref="_element" class="@CssClass" @onkeypress="KeyPressAsync" @onfocus="OnFocus" tabindex="0">@Cell.Value</label>
    }
    else
    {
        <div class="pencil-values">
            @for (var i = 1; i <= 9; i++)
            {
                <span class="pencil-entry">
                    @(Cell.PossibleValues.Contains(i) ? i.ToString() : "")
                </span>
            }
        </div>
        <input @ref="_element" 
               class="@CssClass" 
               type="text" 
               maxlength="1" 
               @bind-value="Cell.Value" 
               @bind-value:event="onchange" 
               @onkeypress="KeyPressAsync" 
               @onfocus="OnFocus"
               readonly />
    }
</td>