@using Sudoku.Web.Server.Components

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>XenobiaSoft Sudoku</title>
    <meta name="description" content="A modern, full-featured Sudoku game with multiple difficulty levels" />
    <base href="/" />

    <!-- Standard Stylesheets -->
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="Sudoku.Web.Server.styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LVBJKFMN42"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-LVBJKFMN42');
    </script>
    <HeadOutlet />
</head>
<body>
    <Routes @rendermode="@RenderModeForPage" />

    <script src="_framework/blazor.web.js"></script>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</body>
</html>

@code {
    private IComponentRenderMode RenderModeForPage => RenderMode.InteractiveServer;
}
