<td class="cell">
    @if (Cell.Locked)
    {
        <label class="@CssClass">@Cell.Value</label>
    }
    else
    {
        <input class="@CssClass" type="text" maxlength="1" @bind="Cell.Value" @onfocus="OnFocus" />
    }
</td>