<td class="cell">
    @if (Cell.Locked)
    {
        <label class="@CssClass">@Cell.Value</label>
    }
    else
    {
        <input @ref="_element" class="@CssClass" type="text" maxlength="1" @bind-value="Cell.Value" @bind-value:event="onchange" @onkeypress="KeyPress" @onfocus="OnFocus" />
    }
</td>