.cell:nth-child(3n+1) {
    border-left: 3px solid #000000;
}

.cell input,
.cell label {
    background-color: #FAEBD7;
    border: 1px solid black;
    color: #303030;
    display: block;
    float: left;
    font-size: 30px;
    height: 36px;
    line-height: 1.3em;
    text-align: center;
    width: 36px;
}

.cell label {
    font-weight: bold;
}

.cell input:focus {
    background-color: #F0F8FF;
}

.highlight {
    background-color: #F0F8FF !important;
}

@media (min-width: 641px) {
    .cell input,
    .cell label {
        height: 40px;
        width: 40px;
    }
}
