.cell:nth-child(3n+1) {
    border-left: 3px solid #000000;
}

.cell input,
.cell label {
    align-items: center;
    background-color: #FAEBD7;
    border: 1px solid black;
    color: #303030;
    display: flex;
    font-size: 1.5rem;
    height: 36px;
    justify-content: center;
    line-height: 1.2em;
    max-width: 36px;
    padding: .25rem;
    width: 100%;
}

.cell label {
    font-weight: bold;
}

.cell input:focus {
    background-color: #F0F8FF !important;
}

.highlight {
    background-color: #F0F8F0 !important;
}

.invalid {
    background-color: #ffdddd !important;
}

@media (min-width: 641px) {
    .cell input,
    .cell label {
        height: 40px;
        width: 40px;
    }
}
