<div class="game-board-container" @onkeyup="KeyUp">
    <table class="game-board" border="1">
        @for (var row = 0; row < 9; row++)
        {
            <tr class="gridRow">
                @for (var col = 0; col < 9; col++)
                {
                    var cell = Puzzle.GetCell(row, col);
                    <CellInput @key="cell" Cell="cell" OnCellFocus="HandleCellFocus" Puzzle="Puzzle" />
                }
            </tr>
        }
    </table>
</div>