<div class="game-stats">
    <div class="stat-item">
        <span class="label">Total Moves:</span>
        <span class="value">@TotalMoves</span>
    </div>
    <div class="stat-item">
        <span class="label">Invalid Moves:</span>
        <span class="value">@InvalidMoves</span>
    </div>
    <div class="stat-item">
        <span class="label">Play Duration:</span>
        <span class="value">@PlayDuration.ToString(@"hh\:mm\:ss")</span>
    </div>
</div>