@inherits LayoutComponentBase

<PageTitle>XenobiaSoft Sudoku</PageTitle>

<div class="page">
    <div class="site-header">
        <a class="navbar-brand" href=""><img alt="XenobiaSoft Sudoku" src="images/logo.png"/></a>
    </div>

    <main class="mat-layout-grid">
        <article class="mat-layout-grid-inner">
            @Body
        </article>
    </main>
</div>
