@inherits LayoutComponentBase

<PageTitle>XenobiaSoft Sudoku</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="mat-layout-grid">
        <article class="mat-layout-grid-inner">
            @Body
        </article>
    </main>
</div>
