@page "/"

<PageTitle>Home</PageTitle>

<IndexErrorBoundary>
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="landing-page">
                <SudokuImage/>
                <div class="btn-panel" role="group">
                    <button type="button" id="btnStart" class="btn btn-primary" @onclick="Start">
                        Play <i class="fa-solid fa-play-circle"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</IndexErrorBoundary>
